@charset "UTF-8";

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

*:focus {
	outline: 0;
}

html {
  height: 100%;
  min-width: 300px;
}


body {
   font-family: 'Oswald', sans-serif;
   text-align: center;
   margin: 25px;
}

h1 {
  font-size: 2em;
  color: blue;
}

h2 {
  font-size: 1em;
  color: orange;
}

p {
  font-size: 1.25em;
}

section {
  margin: 50px;
}
